@font-face{
    font-family: 'KaiseiDecol-Regular';
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype")
}
@font-face {
    font-family: 'NanumMyeongjo-Regular';
    src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}
/*Home*/
.home-container{
    width:100%;
}



/*Menu*/
.menu-container{
    width:100%;
    font-family: 'KaiseiDecol-Regular';
    display: flex;
    justify-content: center;

}
.menu-section{
    width:50%;
    position: relative;
}
.menu-section::before{
    content:'';
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: 16px;
    left: 16px;
    border: 2px solid white;
    box-sizing: border-box;

}
.menu-img{
    width:100%;
    display: block;
}

.menu-txt{
    
    
    position: absolute;
    color:white;
    font-size: 48px;
    bottom: 16px;
}
.menu-diffuser{
    right: 32px;
}
.menu-perfume{
    left:32px;
}

/*banner*/
.banner-container{
    width: 100%;
}

/*info*/
.info-container{
    display: flex;
    align-items:end;
    color:#3a3a3a;
    padding: 5% 8%;
    justify-content: center;
    gap:8%;

}
.img-box{
    display: flex;
    box-sizing: border-box;
}
.about-img{
    width: 100%;
    object-fit: cover;
}
.info-txt-box{
    font-family: 'NanumMyeongjo-Regular';
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5%;
    
}
.about-us-logo{
    writing-mode: vertical-lr;
    font-size: 3rem;
    font-family: 'KaiseiDecol-Regular';
    font-weight: lighter;
    text-align: end; 
}
.about-title-txt{
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
}
.about-content-txt{
    width: 100%;
    font-size: 1.5rem;
}
